main {
    padding: 10px 10px 10px 10px;
}

.guess-parent {
    margin: auto;
    width: 100vw;
}

.guess {
    display: flex;
    flex-direction: row;
    padding: 10px 0px 10px 0px;
    gap: 10px;
}

.tile {
    border-radius: 10px;
    border: 5px solid black;
    width: 15vw;
    height: 15vw;
    font-size: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 15vw;  
}

.guess-group {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 20px;
    font-weight: bold;
}
#suggested-guess {
    font-size: 10px;
}