/* color palette
#EEF0F2
#C6C7C4
#A2999E
#846A6A
#353B3C */

html {
  font-family: 'Courier New', Courier, monospace;
}

body {
  margin: 0px;
  background-color: #A2999E;
}

#header-section div:last-child {
  margin-right: 20px;
}

#header-section {
  height: 80px;
  width: 100%;
  background-color: #353B3C;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  position: fixed;
}

.nav-item {
  height: 30px;
  width: 150px;
  color: #353B3C;
  background-color: #C6C7C4;
  text-align: center;
  line-height: 30px;
}

a {
  color: #353B3C;
  text-decoration: none;
}

.load-bar::after {
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #EEF0F2;
  position: relative;
  transition: 0.5s;
}

.load-bar:hover::after {
  width: 150px;
}

#projects {
  max-height: 30px;
  transition: max-height 0.15s ease-out;
}

#projects #list {
  position: relative;
  width: 100%;
  max-height: 0;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
  background: #C6C7C4;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#projects:hover #list {
  max-height: 500px;
  transition: max-height 0.25s ease-in;
}


main article {
  width: 80%;
  text-align: center;
  margin: auto;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
}

main {
  padding-top: 150px;
}

#intro {
  font-size: 40pt;
}

.container {
  width: 90%;
  align-self: center;
  background-color: #C6C7C4;
  padding: 50px 20px 50px 20px;
  color: #353B3C;
}

.container div {
  text-align: left;
  font-size: 16pt;
  padding: 10px 50px 10px 50px;
}

h2 {
  font-weight: bold;
  font-size: 20pt;
}

#intro, #about-me, #skills, #contact-me {
  scroll-margin-top: 100px;
}

#contact-left  i {
  padding-right: 15px;
}