#portfolio {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.image:hover {
  transform: translateY(-10px);
}

#illustrations, #animations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

.image {
  width: min-content;
}

img, .image {
  height: 400px;
}

.desc {
  display: none;
  position: relative;
  height: 150px;
  margin: auto;
  background-color: rgba(53, 59, 60, .5);
  color: #EEF0F2;
  top: -175px;
  text-align: center;
  text-wrap: wrap;
  padding: 20px 10px 0 10px;
  pointer-events: none;
}

.image:hover .desc {
  display: block;
}